.profile-picture {
  border-radius: 50%;
  display: block;
}

@media screen and (max-width: 767px) {
  .profile-picture {
    margin: 0 auto;
    max-width: 200px !important;
    padding: 1rem;
  }
  
}

h2.profile-title{
  font-size: 1.5em;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.profile-role{
  font-size: 0.8em;
  font-weight: bold;
  margin: 0;
  padding: 0;
  letter-spacing: 1.01px;
  text-transform: uppercase;
  color: #297EC3
}

.profile-location{
  font-size: 0.8rem;
  font-weight: bold;
  margin: 0;
  padding: 0;
  letter-spacing: 1.3px;
}

.profile-classification-score {
  font-size: 0.8rem;
  padding-left: 0.3rem;
}

.profile-price-value{
  font-weight: 900;
}

.profile-price-session{
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.8rem;
  padding-left: 0.4rem;
}